################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/Log
/bin/Release/Log
/bin/Debug
/bin/Release
/obj/Debug
/obj/Release
